<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title> YouTube to MP3 Converter </title>
</head>
<body>
    <div class="container">
        <h1> YouTube to MP3 Converter </h1>
        <!-- Converter -->
        <form action="{{ url_for('convert') }}" method="POST">
            <h3> YouTube URL: </h3>
            <input type="text" name="url" placeholder="YouTube URL" required>
            <button type="submit"> Convert to MP3 </button>
        </form>
    </div>
</body>
</html>